{% extends "blog/base.html" %}
{% block content %}
  <div id="ab" class="jumbotron">
    <link rel="stylesheet" href="blogg.css">
    <!-- <h1>About Me!</h1> -->
    <br>
    <br>

    <h2>There Is Nothing About Me Iam An Ordinary Person With Extrodinary Dreams </h2>
    <br>
    <br>
    <br>
    <br>

    <address><h2>For Content Ideas  <br><button type="button" class="btn btn-outline-secondary btn-lg"><a href="mailto:riyazahamad397@gmail.com">Mail Us</a></button></h2>
    </address>
    <br>
    <br>
    <br>
    <br>
    </div>


    {% endblock %}
